@model IEnumerable<Proyecto_Effetrans.Models.Ciudad>

<select class="form-control" id="IdCiudad" name="IdCiudad">
    @foreach (var item in Model)
    {
        <option value="@item.IdCiudad">@item.Nombre</option>
    }
</select>
